:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.87);
  background-color: pink;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
header{
 background-color: white;
  color: black;
  height: 5vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}





